.title{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 70px 0 40px;
    
}

.title h2{
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-top: 5px;
    text-transform: none;
}