.about {
    display: flex;
    color: white;
    gap: 40px;
    text-align: center;

    margin-right: 50px;
    margin-left: 50px;
}
.about h3{
    flex: 1;
    color: white;
    margin-top: auto;
}
.about-section {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr; ;
}

.about ul{
    font-size: 20px;
    color: white;
    margin-top: auto;
    margin-bottom: 15px;
}
.about p{
    font-size: 17px;
    margin: 25px;
    display: flex;
    grid-template-columns: 30px 1fr 1fr;
    gap: 10px;

    background-color: #2c2c2d;
    padding: 12px 12px;
    border-radius: 8px; 
    width: fit-content;
    margin: 0 auto;
    
}
.shop img{
    display: flex;
    grid-template-columns: auto;
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;
    width:500px;
    height:auto;
}
.about h2{
    Color: white;
    justify-content: center;
}
.grid-columns{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.about text-box {
    color:  white;
  background-color: #f3f4f6;
  padding: 16px;
  border-radius: 10px;
  max-width: 500px;
  margin: 0 auto;
}

.about text-box__header {
    color: white;
  margin: 0 0 8px 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.about text-box__content {
  margin: 0;
  line-height: 1.5;
}
