.footer{
    color: white;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid white;
    padding: 15px 0;
    background-color: #0c0909e5;

}

.footer ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    color: white;

}
/*---media query----*/
@media(max-width: 600px){
    .footer{
        display: block;
        text-align: center;
    }
    .footer ul li{
        margin: 10px;
    }
    .footer ul{
        margin-top: 10px;
    }
}