@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
body{
  background: #0c0909;
;
}
a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
.container{
  padding-left: 10%;
  padding-right: 10%;
}
.btn{
  /* background: #FFF; */
  background: rgb(168, 29, 29);
  opacity: 0.9;
  color: #FFF;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  transition: opacity 0.3s ease;
}

.btn:hover {
  opacity: 0.65;
}

/*-----media query----*/
@media (max-width: 1200px){
    .container{
      padding-left: 5%;
      padding-right: 5%;
    }
    .btn{
      padding: 14px 22px;
    }
}